library/bin/
sample/bin/
library/.classpath
library/.project
library/.settings/org.eclipse.jdt.core.prefs
sample/.classpath
sample/.project
sample/.settings/org.eclipse.jdt.core.prefs
sample/lint.xml
